* {
  list-style-type: none;
  text-decoration: none !important;
}
.z_50 {
  z-index: 50 !important;
}
.c_pointer {
  cursor: pointer;
}
/* nav bar */
.sm_nav {
  position: fixed;
  z-index: 4 !important;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  background: var(--bg-darkgreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms linear !important;
}

.nav ul li a {
  color: #000;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
}
.sign_btn {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 25px;
  background: #000;
  width: 124.235px;
  height: 36.95px;
  border: none;
}
.border_grey {
  border: 1px solid #b3b3b3;
}
.outline_none {
  outline: none;
}
.nav_input::placeholder{
  font-family: 'Josefin Sans';
}
input::placeholder {
  color: #979898 !important;
}
.w_160 {
  width: 152px;
}
.lh_normal {
  line-height: normal;
}
/* -----------------header----------------- */
.bg_header {
  background-image: url(./assets/img/png/headerbg.png);
  background-size: cover;
  background-position: center;
}
.min_vh_100 {
  min-height: 100vh;
}
.color_lightgrey {
  color: #b3b1c3;
}
.lh_120 {
  line-height: 120%;
}
.mw_652 {
  max-width: 652.31px;
}
.join_btn {
  color: #8f9597;
  line-height: normal;
  width: 124px;
  padding-top: 12px;
  padding-bottom: 7px;
  border: none;
  border: 1px solid white;
}
.mw_1140 {
  max-width: 1140px;
}
.px_12 {
  padding-left: 12px;
  padding-right: 12px;
}
/* ------------Nft LOOK---------------*/
.mw_207 {
  max-width: 207.227px;
}
.nft_look {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.dark_grey {
  color: #4d4d4d;
}
.border_grey {
  border: 1px solid rgba(0, 0, 0, 0.46);
}
.color_grey {
  color: #707070;
}
.h_buy {
  height: 30.545px;
}
/* ----------------Exploration--------- */
.exploration {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.mh_211 {
  height: 211px;
}
.w_207 {
  min-width: 207.9px;
}
.mw_858 {
  max-width: 858px;
}
.py_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.px_29 {
  padding-left: 29px;
}
.slick-track {
  display: flex !important;
}
.slick-slide {
  height: inherit !important;
  display: flex !important;
}
.slick-slide > div {
  display: flex;
}
/* ------------------Market------------------ */
#market .slick-slide {
 justify-content: center !important;
 padding-bottom: 12px;
}
.bg_market {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  width: 266.99px;
  height: 253.903px;
}
/* -=----------------Category---------------- */
.mw_948 {
  max-width: 948px;
}
.nav-tabs {
  margin-left: auto !important;
  margin-right: auto !important;
}
.tab_button {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.13);
  border: none;
  width: 170px;
  height: 40.531px;
}
.nav-tabs {
  border-bottom: none !important;
  display: flex;
  justify-content: center;
  gap: 24px !important;
}
.nav-link {
  color: #000000 !important;
  font-family: "Josefin Sans";
  font-size: 20px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.13) !important;
  width: 170px;
  height: 40.531px;
  padding: 5px 70px;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  border: none !important;
  border-radius: 10px !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white !important;
  background-color: black !important;
}
.color_tab {
  color: #4b4b4b;
}
.mw_858 {
  max-width: 858px;
}
.category_hw {
  max-width: 232.73px;
  height: 222.49px;
}
.category_card {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.2);
}
.hw_view {
  width: 137.377px;
  height: 36.95px;
  border: none;
}
/* ------------------upcoming---------------- */
.bg_upcomming {
  background-image: url(./assets/img/png/upcomming_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_upcomming2 {
  background-image: url(./assets/img/png/upcomming_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.opacity_70 {
  opacity: 70%;
}
.explore_btn {
  width: 144.429px;
  height: 36.95px;
  border: none;
  border-radius: 25px;
}
/* -------------------latest news------------ */
#latest .slick-slide {
  padding-bottom: 10px;
  gap: 25px;
}
.latest_img {
  width: 324.863px;
  height: 293.102px;
}
.latest_card {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
/* --------------------Community------------- */
.bg_community {
  background-image: url(./assets/img/png/community.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}
.wh_193 {
  width: 193px;
  height: 193px;
}
.color_community {
  color: #bebebe;
}
/* -------------------Comment----------------- */
.trtl_y {
  transform: translateY(-50%) !important;
  left: -2%;
}
.left {
  left: -2%;
}
.right_n2 {
  right: -2%;
  transform: translateY(-50%);
}
#comment .slick-slide {
  justify-content: center !important;
  padding-bottom: 10px;
}
.wh_comment {
  width: 239.218px;
  height: 133.106px;
}
.comment_grey {
  color: #808080;
}
.mw_215 {
  max-width: 215px;
}
.comment_card {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.2);
}
/* --------------------Footer----------------- */
.mw_247 {
  min-width: 247px;
}
.bg_grey {
  background-color: #3f3f46;
}
.wh_134 {
  width: 134px;
  height: 134px;
}
.footer_grey {
  color: #999999;
}
.border_input {
  border: none;
  outline: none;
  border-radius: 25px 0px 0px 25px;
}
.subscribe {
  width: 185px;
  height: 40px;
  border: none;
  border-radius: 0px 25px 25px 0px;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #7c58ff;
}
.footer_input::placeholder {
  font-family: "Josefin Sans";
}
/* ------------------Back To Top------------- */
.color_80{
  color: #808080;
}
.curser_pointer {
  cursor: pointer;
}
.z_20 {
  z-index: 20;
}
.back_top {
  height: 20px;
  width: 20px;
  transform: rotate(90deg);
  margin: 15px;
}
.bg_light {
  background-color: #707070;
  border-radius: 10px;
}
/* ------------------Hovers------------------ */
.short_scale:hover {
  transform: scale(0.9) !important;
}
.hover_black:hover {
  opacity: 100%;
}
.scale_hover:hover {
  transform: scale(1.2) !important;
}
.transition_300 {
  transition: 300ms linear !important;
}
.sign_btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.join_btn:hover {
  color: white;
  background-color: #808080;
}
.hover_white:hover {
  color: white;
}
/* ---------------------Preloader-------------- */
.ctn-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;
}

.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

/* Spinner cargando */
.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: #ffffff; /* No se identa por orden alfabetico para que no lo sobre-escriba */
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

/* Texto cargando */
.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em "Montserrat", sans-serif;
  text-align: center;
  user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #ffffff;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .loader-section {
  background-color: #000000;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Efecto de fade en la animación de cargando */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

/* Efecto de cortina */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

@media (max-width: 1200px) {
  .overflow_xscroll {
    overflow-x: scroll;
  }
}
/* Animación del preloader */
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

/* Animación de las letras cargando del preloader */
@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
