@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800&display=swap");
.ff_playfair {
  font-family: "Playfair Display";
}
.ff_josefin {
  font-family: "Josefin Sans";
}
:root {
  --fs-xxl: 64px;
  --fs-xl: 50px;
  --fs-xsm: 16px;
  --fs-sm: 18px;
  --fs-md: 20px;
  --fs-slg: 24px;
  --fs-lg: 36px;
  --fs-xxsm: 14px;
  --fs-3xsm: 12px;
}
.fs_xxl {
  font-size: var(--fs-xxl);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xxsm {
  font-size: var(--fs-xxsm);
}
.fs_slg {
  font-size: var(--fs-slg);
}
.fs_3xsm {
  font-size: var(--fs-3xsm);
}
@media (max-width: 1200px) {
  :root {
    --fs-xxl: 56px;
    --fs-xl: 45px;
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-slg: 20px;
    --fs-lg: 30px;
    --fs-xxsm: 14px;
    --fs-3xsm: 12px;
  }
  .latest_pic {
    width: 324.863px;
    height: 293.102px;
  }
  .tab_button {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.13);
    border: none;
    width: 160px !important;
    height: 40.531px;
  }
  .nav-link {
    width: 150px !important;
  }
  .ctn-preloader .animation-preloader .spinner {
    height: 7em !important;
    width: 7em !important;
  }
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 4em "Montserrat", sans-serif !important;
  }
}
@media (max-width: 992px) {
  :root {
    --fs-xxl: 50px;
    --fs-xl: 40px;
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 19px;
    --fs-slg: 19px;
    --fs-lg: 25px;
    --fs-xxsm: 14px;
    --fs-3xsm: 12px;
  }
  #market .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
    justify-content: center !important;
  }
  .nav-link {
    width: 100px !important;
  }
  .ctn-preloader .animation-preloader .spinner {
    height: 5em !important;
    width: 5em !important;
    margin: 0 auto 2.5em auto !important;
  }
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 3em "Montserrat", sans-serif !important;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-xxl: 45px;
    --fs-xl: 35px;
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 19px;
    --fs-slg: 19px;
    --fs-lg: 20px;
    --fs-xxsm: 14px;
    --fs-3xsm: 12px;
  }
  .mw_100 {
    max-width: 200px;
  }
  .bg_market {
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 576px) {
  .border_input {
    border-radius: 15px !important;
  }
  .nav-link {
    width: 120px !important;
  }
  .subscribe {
    margin-top: 20px;
    border-radius: 15px !important;
  }
  .align_items_center {
    align-items: center;
  }
  :root {
    --fs-xxl: 40px;
    --fs-xl: 30px;
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 19px;
    --fs-slg: 19px;
    --fs-lg: 18px;
    --fs-xxsm: 14px;
    --fs-3xsm: 12px;
  }
  .mw_300 {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  .mw_100 {
    max-width: 100px;
  }
  #latest .slick-slide {
    justify-content: center !important;
  }
   .ctn-preloader .animation-preloader .spinner {
    height: 3em !important;
    width: 3em !important;
    margin: 0 auto 1.5em auto !important;
  }
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 2em "Montserrat", sans-serif !important;
  }
}
@media (max-width: 400px) {
  .latest_pic {
    width: 304.863px;
    height: 273.102px;
  }
  .mw_247 {
    max-width: 190px !important;
  }
  .category_hw {
    width: 100%;
  }
}
